<!DOCTYPE html>
<html lang="en"> <!-- Added lang attribute to the html tag for accessibility -->
<head>
<title>The first ever flask app</title>
<meta charset="UTF-8"> <!-- Added character set declaration -->
</head>
<body>
<div id="description" style="padding: 30px;"> <!-- Replaced padding attribute with inline style -->
<br>This is a deliberately vulnerable application which will allow anyone to learn basics of the source code review.</body> <!-- Replaced closing </p> tag with <br> tag -->
</div>
<div id="what_for" style="padding: 10px;"> <!-- Replaced padding attribute with inline style -->
<br> Usually you will be seeing a lots of vulnerable applications for practice with UI, but have you ever encountered a scenario where you have a set of code to review which doesn't have a UI, this project will let you practice the basic vulnerabilities without seeing the interface. You will only have the code and the task is to manually analyse the code and find the issues. Hope you like this idea !
</div>
</html>